@import url("reset.css");
@import url("common.css");



/*-----------------------*/

body {
   font-family: 'Inter', sans-serif;
   font-style: normal;
   font-weight: 500;
   font-size: 16px;
   color: #637381;
}

.wrapper {
   min-height: 100%;
   overflow: clip;
   display: flex;
   flex-direction: column;
}

.wrapper>main {
   flex-grow: 1;
}

[class*="__container"] {
   max-width: 1200px;
   margin: 0 auto;
   padding: 0 15px;
}

/*----------------------*/



.form {
   padding: 100px 0;
}

.form__container {}

.form__title {
   font-family: 'Inter';
   font-style: normal;
   font-weight: 700;
   font-size: 44px;
   line-height: 1.25;
   /* 55/44 */
   color: #212B36;
}

.form__title:not(:last-child) {
   margin-bottom: 8px;
}

.form__row {}

.form__column {
   display: flex;
   flex-wrap: wrap;
   row-gap: 30px;
   margin: 0 -15px;
}

.form__column input,
select {
   width: 100%;
}

.form__column:not(:last-child) {
   margin-bottom: 30px;
}

.form__container input,
select,
textarea {
   border: 1px solid #E7E7E7;
   border-radius: 7px;
   padding: 15px 25px;
}

.form__item {
   flex-basis: 50%;
   padding: 0 15px;
}

.form__input {}

.form__select {
   font-family: 'Inter', sans-serif;
   font-style: normal;
   font-weight: 500;
   font-size: 16px;
   color: #637381;
}

.textarea-body:not(:last-child) {
   margin-bottom: 35px;
}

.textarea-body__column {
   height: 180px;
   resize: vertical;
   width: 100%;
}

.form__checkbox {}

.checkbox:not(:last-child) {
   margin-bottom: 55px;
}

.checkbox__item:not(:last-child) {
   margin-bottom: 26px;
}

/*-------------------------------------*/
.checkbox__item {
   position: relative;
}

.checkbox__input {
   position: absolute;
   left: 0;
   top: 0;
   width: 0px;
   height: 0px;
   opacity: 0;
}

.checkbox__input:focus-visible+.checkbox__label {
   outline: 1px solid #212B36;
   border-radius: 7px;
}

.checkbox__label {
   cursor: pointer;
   display: inline-flex;
   align-items: flex-start;
   gap: 14px;
   line-height: 1.5; /* 24/16 */
}

.checkbox__label::before {
   content: "";
   flex: 0 0 22px;
   width: 22px;
   height: 22px;
   border: 0.7px solid #E7E7E7;
   border-radius: 4px;
}

.checkbox__input:checked+.checkbox__label::before {
   background: url('../img/arrow.svg') no-repeat;
   background-size: 14px;
   background-position: center center;
}

/*-------------------------------------*/

.form__subtitle {}

.form__subtitle:not(:last-child) {
   margin-bottom: 25px;
}

.form__bottom {
   display: flex;
   flex-wrap: wrap;
   margin: 0 -10px;
   row-gap: 20px;
}

.form__coupon {}

.coupon {
   flex-basis: 50%;
   padding: 0 10px;
}

.coupon__input {
   width: 100%;
}

.form__btn {
   flex-basis: 50%;
   padding: 0 10px;
}

.btn__style {
   padding: 12px 22px;
   background: #212B36;
   border-radius: 5px;
   font-weight: 600;
   font-size: 16px;
   line-height: 1.5;
   /* 24/16 */
   color: #FFFFFF;
   transition: all 0.5s;
}

.btn__style:hover {
   box-shadow: #212B36 2px 0px 10px 0px;
}


/*------------------*/


@media (max-width: 767.9px) {
   .form__title {
      font-size: 32px;
   }

   .form__item {
      flex-basis: 100%;
   }

   .coupon {
      flex-basis: 100%;
   }

   .form__btn {
      flex-basis: 100%;
   }
}