@import url(reset.css);

/*==============Reset==============*/

body {
   font-family: 'Poppins', sans-serif;
   font-weight: 500;
   font-size: 16px;
   color: #212529;
}



[class*="__container"] {
   max-width: 1270px;
   margin: 0 auto;
   padding: 0 15px;
}

.header {}

.header__container {}

.header__top {
   color: #495057;
}

.header__top>* {
   margin-bottom: 12px;
}

.header__top>*:last-child {
   margin-bottom: 0px;
}




.blog__header-buner>* {
   margin-bottom: 15px;
}

.blog__header-buner>*:last-child {
   margin-bottom: 0px;
}

.blog__header-buner {
   background: url(../img/blog-header-bg.webp) no-repeat;
   background-size: cover;
   background-position: 50% 50%;
   padding: 192px 15px;
   text-align: center;
}

.header__subtitle {
   margin-bottom: 15px;
   font-weight: 300;
   font-size: 12px;
   line-height: 1.6;
   color: #E5E5E5;
}

.header__title {
   font-weight: 700;
   font-size: 25px;
   line-height: 1.6;
   color: #F8F9FA;
   max-width: 500px;
   margin: 0 auto;
}


/*++++++++++++++++++++++++++++++++*/




.footer{
background: #212529;
color: #ffff;
}